<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Buy Course Service</h1>
<hr>

<h3>Курсы</h3>

<form th:action="@{/courses}" th:method="GET">
    <label for="name_course">Введите название курса: </label>
    <input type="text" name="name_course" id="name_course">
    <br>

    <input type="submit" value="Поиск">
</form>

<br>

<div th:if="${!courses.isEmpty()}" th:each="course : ${courses}">
    <b><span th:text="${course.getNameCourse}"></span></b>
    <span th:text="${' ' + course.getPrice()}"></span>
    <span> | </span>
    <a th:href="@{/courses/{id}(id=${course.getId()})}" th:text="Подробнее"></a>
</div>
<div th:if="${courses.isEmpty()}">
    <h3>Курсов нет</h3>
</div>
<hr>

<h3>Добавить новый курс</h3>
<form th:action="@{/courses/add}" th:method="POST" th:object="${new_course}" enctype="multipart/form-data">

    <label for="name">Название курса: </label>
    <input type="text" th:field="*{nameCourse}" id="name">
    <br><br>

    <label for="description">Введите описание: </label>
    <input type="text" th:field="*{description}" id="description">
    <br><br>

    <label for="price">Введите цену: </label>
    <input type="text" th:field="*{price}" id="price">
    <br><br>

    <label for="image">Загрузить фотографию: </label>
    <input type="file" name="file" id="image">
    <br><br>

    <input type="submit" value="Добавить">
</form>

</body>
</html>