<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>

<h1>Buy Course Service</h1>
<hr>

<h3>Информация о курсе</h3>

<b>Название курса: </b>
<span th:text="${course.getNameCourse()}"></span>
<br>

<b>Описание курса: </b>
<span th:text="${course.getDescription()}"></span>
<br>

<b>Цена: </b>
<span th:text="${course.getPrice()}"></span>
<br>

<hr>

<form th:method="DELETE" th:object="${course}" th:action="@{/courses/{id}(id=${course.getId()})}">
    <input type="submit" value="Удалить">
</form>


</body>
</html>